# Modul #3 üçün Tapşırıqlar

In [ ]:
# Lazım olan kitabxanalar
from sklearn.datasets import make_regression, make_classification
from sklearn.preprocessing import RobustScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import pandas as pd
import numpy as np
import warnings

In [ ]:
pd.set_option('display.max_columns', None)
warnings.filterwarnings(action = 'ignore')
np.random.seed(seed = 42)

***
### Tapşırıq #1
**generate_data** adlı bir funksiya yarat və bu funksiyanın 4 parametri olsun.
1. **regression** - Yaradılacaq asılı olmayan və asılı olan dəyişənlərin reqressiya və ya sinifləndirmə üçün olması
2. **n_observations** - Sətirlərin sayı
3. **n_features** - Sütunların sayı
4. **n_missing** - Hər bir dəyişəndə olacaq boş xanaların sayı

> Əgər **regression** parametrinə **True** verilsə bu zaman reqressiya üçün asılı olmayan dəyişənlər və asılı olan dəyişən əks təqdirdə eyni şeyi sinifləndirmə üçün etsin.

> Daha sonra **column_names** adlı bir list yarat və bu listdə **n_features** parametrinə veriləcək sütun sayı qədər string kimi 'feature_1', 'feature_2', 'feature_n' şəklində sütun adlarını yarat.

> Daha sonra asılı olmayan dəyişənlərdən ibarət array data strukturunu Pandas DataFrame data strukturuna çevir.

> Daha sonra asılı olan dəyişəni Pandas Series data strukturuna çevirərək series-in adını 'target' qoy və bu series-i Pandas DataFrame data strukturuna çevir.

> Daha sonra asılı olmayan dəyişənlərin adlarını **column_names** listindəki adlarla əvəzlə

> Daha sonra rock, jazz, metal, və lyric adında 4 fərqli list yarat və hər bir listdə sayı 25 olan **Rock, Jazz, Metal, Lyric** dəyərlərini yarat

> Daha sonra asılı olmayan dəyişənlərin data frame-ində yeni bir sütun yarat və bu sutunu f string vasitəsi ilə n_features + 1 şəklində adlandır və rock, jazz, metal, lyric listlərini toplayarq həmin bu sütuna bərabər et.

> Daha sonra asılı olmayan və asılı olan dəyişəni horizontal şəkildə birləşdirib yeni dəyişən yarat və bu dəyişənin adını data_frame qoy.

> Daha sonra assertion-dan sonra **column_names** listində olan dəyişən adlarına n_features + 1 şəklində yeni yaradılmış sütun adını əlavə et.

> Daha sonra for döngüsündən istifadə edərək **column_names** listində olan dəyişən adlarını tək tək secərək hər bir dəyişəndə n_missing parametrinə veriləcək say qədər random şəkildə boş xanalar yarat.

> Daha sonra data_frame dəyişənində bütün sətirləri qarışdır

In [ ]:
def generate_data(regression, n_observations, n_features, n_missing):
    # kodu bu şərhin altına yaz
    if regression:
      X, Y = make_regression(n_samples = n_observations, n_features = n_features, random_state = 1)
    else:
      X, Y = make_classification(n_samples = n_observations, n_features = n_features, random_state = 1)
      
    
    column_names = [f"feature_{n}" for n in range(1, n_features + 1)]
    features = pd.DataFrame(data = X)
    features.columns = column_names

    target = pd.Series(data = Y, name = 'target').to_frame()

    rock = ['Rock' for _ in range(25)]
    jazz = ['Jazz' for _ in range(25)]
    metal = ['Metal' for _ in range(25)]
    lyric = ['Lyric' for _ in range(25)]

    new_column = rock + jazz + metal + lyric

    features[f'feature_{n_features + 1}'] = new_column

    data_frame = pd.concat(objs = [features, target], axis = 1)

    assert data_frame.shape[0] == n_observations
    assert data_frame.shape[1] == n_features + 2
    
    # kodu bu şərhin altına yaz
    column_names.append(f'feature_{n_features + 1}')

    for column in column_names:
      mask = np.random.choice(99, 50, replace = False)
      data_frame.loc[mask, column] = np.nan

    data_frame = data_frame.sample(frac=1).reset_index(drop=True)
    return data_frame

In [ ]:
# Reqressiya datasetin yaradılması (100 sətir, 10 sütun və hər sütunda 50 boş xana)
df = generate_data(True, 100, 10, 50)

# İlk beş sətrin göstərilməsi
df.head()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,target
0,NaN,NaN,NaN,NaN,NaN,0.040371,NaN,NaN,NaN,NaN,NaN,191.616774
1,1.146900,NaN,1.789755,NaN,NaN,1.033687,NaN,NaN,1.115702,0.466643,Metal,369.101867
2,NaN,NaN,-0.166486,NaN,NaN,NaN,NaN,0.984952,1.071252,NaN,Lyric,-58.328607
3,NaN,1.760415,1.409253,0.713049,NaN,-0.604603,NaN,1.442877,NaN,1.306206,Metal,454.228394
4,-0.183062,NaN,-0.407240,-0.221029,NaN,NaN,0.175168,0.580330,NaN,0.199760,Metal,-47.595930

In [ ]:
# Sinifləndirmə datasetin yaradılması (100 sətir, 10 sütun və hər sütunda 50 boş xana)
df = generate_data(False, 100, 10, 50)

# İlk beş sətrin göstərilməsi
df.head()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,target
0,NaN,NaN,0.585676,1.504631,NaN,-0.179612,NaN,-0.039178,1.239652,NaN,NaN,0
1,-1.755926,-0.447895,NaN,-1.239501,NaN,NaN,0.823008,NaN,NaN,NaN,NaN,1
2,-0.120465,NaN,NaN,0.719190,NaN,NaN,-1.543986,NaN,NaN,NaN,Metal,0
3,NaN,NaN,NaN,-0.740905,0.784771,-0.955425,-0.864477,NaN,-1.409220,-0.297362,NaN,0
4,0.617986,-0.533020,-0.883714,NaN,NaN,NaN,NaN,NaN,NaN,-0.184176,Lyric,1

***
### Tapşırıq #2:
- Asılı olmayan dəyişənlərin filterlə
- Asılı olan dəyişənlərin filterlə
- Asılı olmayan dəyişənləri və asılı olan dəyişənləri train & test setə ayır

In [ ]:
# Asılı olmayan dəyişənlərin filterlənməsi
X = df.drop('target', axis = 1)

# Asılı olan dəyişənin filterlənməsi
Y = df['target']

# Asılı olmayan dəyişənlərin və asılı olan dəyişənin train & test setə bölünməsi (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state = 2)

- Ən çox təkrarlanan dəyər və median dəyər üçün əvəzləyicilərini yarat
- Asılı olmayan dəyişənlərdə kateqorik dəyişəni filterlə və boş xanaları train və test set üçün ən çox təkrarlanan dəyər ilə əvəzlə
- Asılı olmayan dəyişənlərdə numerik dəyişənləri filterlə və boş xanaları train və test set üçün median dəyər ilə əvəzlə

In [ ]:
# Ən çox təkrarlanan dəyər və median dəyər üçün əvəzləyicinin yaradılması
mode_imputer = SimpleImputer(strategy = 'most_frequent')
median_imputer = SimpleImputer(strategy = 'median')

# Cateqorik dəyişəndə olan boş xanaların ən çox təkrarlanan dəyərlə əvəzlənməsi
X_train_cat = mode_imputer.fit_transform(X = X_train.select_dtypes(exclude = ['float']))
X_test_cat = mode_imputer.fit_transform(X = X_test.select_dtypes(exclude = ['float']))

# Numerik dəyişənlərdə olan boş xanaların median dəyərlə əvəzlənməsi
X_train_num = median_imputer.fit_transform(X_train.select_dtypes(exclude = ['object']))
X_test_num = median_imputer.fit_transform(X_train.select_dtypes(exclude = ['object']))

***
### Tapşırıq #3:
- RobustScaler dəyişənini yarat
- Numerik asılı olmayan train və test dəyişənlərini eyni şkalaya sal
- Yeni yaradılmış numerik asılı olmayan train və test dəyişənlərini Pandas DataFrame data strukturuna salaraq dəyişənləri sayı qədər string şəklində 'feature_1', 'feature_2', 'feature_n' kimi adlandır

In [ ]:
# Şkala dəyişəninin yaradılması
scaler = RobustScaler()

# Numerik dəyişənlərin train və test setdə eyni şkalaya salınması
X_train_num_scaled = scaler.fit_transform(X = X_train_num)
X_test_num_scaled = scaler.fit_transform(X = X_test_num)

# Dəyişənlərin adlandırılması
X_train_num_scaled = pd.DataFrame(data = X_train_num_scaled, columns = [f"feature_{i}" for i in range(1, len(X_train_num_scaled[0]) + 1)])
X_test_num_scaled = pd.DataFrame(data = X_test_num_scaled, columns = [f"feature_{i}" for i in range(1, len(X_test_num_scaled[0]) + 1)])

***
### Tapşırıq #4:
- Kateqorik dəyişən dəyərlərinin numerik dəyişənə çevirmək üçün dəyişəni yarat, (sparse = False parametrindən istifa et)
- Kateqorik asılı olmayan train və test dəyişənində olan unikal dəyərləri numerik dəyişənlərə çevir
- Yeni yaradılmış dəyişənləri Pandas DataFrame data strukturuna salaraq dəyişənləri ohe dəyişənində olan kateqoriyalarla əvəz et

In [ ]:
# Kateqorik dəyişən dəyərlərinin numerik dəyişənə çevirmək üçün dəyişənin yaradılması
ohe = OneHotEncoder(categories = [['Rock', 'Jazz', 'Metal', 'Lyric']], sparse = False, handle_unknown = 'ignore')

# Kateqorik dəyişən dəyərlərinin train və test setə görə numerik dəyişənə çevrilməsi
X_train_cat_ohe = ohe.fit_transform(X = X_train_cat)
X_test_cat_ohe = ohe.fit_transform(X = X_test_cat)

# Dəyişənlərin adlandırılması
X_train_cat_ohe = pd.DataFrame(data = X_train_cat_ohe, columns = ohe.categories_[0])
X_test_cat_ohe = pd.DataFrame(data = X_test_cat_ohe, columns = ohe.categories_[0])

***
### Tapşırıq #5:
- Üzərində əməliyyat aparılmış train seti üçün X_train_num_scaled, X_train_cat_ohe test seti üçün isə X_test_num_scaled, X_test_cat_ohe dəyişənlərini horizontal şəkildə birləşdir.

In [ ]:
# Numerik və kateqorik dəyişənlərin birləşdirilməsi
X_train_processed = pd.concat(objs = [X_train_num_scaled, X_train_cat_ohe], axis = 1)
X_test_processed = pd.concat(objs = [X_test_num_scaled, X_test_cat_ohe], axis = 1)

# Assert ilə train və test setin asılı olmayan dəyişənlərinin sayının test olunması
assert X_train_processed.shape[1] == 14
assert X_test_processed.shape[1] == 14

# Hər iki data frame-in ilk beş sətrinin göstərilməsi 
display(X_train_processed.head(), X_test_processed.head())

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,Rock,Jazz,Metal,Lyric
0,-8.618688,0.000000,-0.426644,0.0,-1.720895,0.000000,-0.521235,0.000000,0.000000,0.000000,1.0,0.0,0.0,0.0
1,-63.734006,0.000000,0.000000,0.0,-1.368864,1.842077,0.000000,0.000000,-13.283845,31.804726,1.0,0.0,0.0,0.0
2,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,-0.277349,-784.837259,0.000000,0.000000,0.0,1.0,0.0,0.0
3,0.000000,0.000000,-0.985695,0.0,2.125094,-0.754871,0.000000,-406.547528,0.000000,0.000000,0.0,0.0,1.0,0.0
4,24.264626,53.535625,0.000000,0.0,-0.443045,0.000000,0.000000,180.620172,0.000000,-17.798036,0.0,1.0,0.0,0.0

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,Rock,Jazz,Metal,Lyric
0,-8.618688,0.000000,-0.426644,0.0,-1.720895,0.000000,-0.521235,0.000000,0.000000,0.000000,1.0,0.0,0.0,0.0
1,-63.734006,0.000000,0.000000,0.0,-1.368864,1.842077,0.000000,0.000000,-13.283845,31.804726,0.0,1.0,0.0,0.0
2,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,-0.277349,-784.837259,0.000000,0.000000,1.0,0.0,0.0,0.0
3,0.000000,0.000000,-0.985695,0.0,2.125094,-0.754871,0.000000,-406.547528,0.000000,0.000000,0.0,1.0,0.0,0.0
4,24.264626,53.535625,0.000000,0.0,-0.443045,0.000000,0.000000,180.620172,0.000000,-17.798036,0.0,1.0,0.0,0.0